top
  .monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  .tab-label
  a,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .title-label
  a {
  font-size: 12px;
}

/* left */
.monaco-workbench .part > .content {
  font-size: 14px;
}

/* bottom */
.monaco-workbench .part.statusbar {
  font-size: 14px;
}

.mac {
  font-family: 'DroidSansM Nerd Font';
}

.statusbar-item.right {
  height: 100%;
}

.statusbar-item.right.__CUSTOM_CSS_JS_INDICATOR_CLS a {
  display: flex;
  height: 100%;
  align-items: center;
}
